form{
text-align: left; 
}
label{
    text-align: center;
    color: rgb(255, 251, 10);
}
h1{
    text-align: left;
    color: rgb(255, 251, 10);
    
}
button{
    margin-top: 1%;
}
body{
    background-color: rgb(154, 205, 240);
    background-image: url('./Dexter3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
      
}

input[type="text"],
input[type="number"],
select {
    width: 35%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ced4da; 
    border-radius: 4px;
    box-sizing: border-box;
}