
#main-header{
    text-align: center;
}
#main-form{
  margin: auto;
  width: 50%;
  padding: 20px;
}
.field{
    text-align: center;
}

#name-input{
    width: 50%;
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
}
#age-input{
    width: 17%;
}
#gender-select{
    width: auto;
}
#occupation-input{
    width: 50%;
}
#ability-input{
    width: 50%;
}
#submit-button{
    margin: auto;
}