form{
text-align: center; 
}
label{
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(129, 110, 2);
}
button{
    margin-top: 1%;
}
body{
    background-color: rgb(154, 205, 240);
}

input[type="text"],
input[type="number"],
select {
    width: 35%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ced4da; 
    border-radius: 4px;
    box-sizing: border-box;
}